import(Rstox)
import(rJava)
import(knitr)
import(dplyr)
import(XML)
import(httr)
import(stringr)
import(git2r)
import(flock)
import(parallel)
import(tools)
import(jsonlite)
import(xml2)
import(lubridate)
import(REDUStools)
importFrom("utils", "tail","URLencode", "combn", "read.csv", "write.csv",
             "zip")
export(firstRun)
export(dataFetch)
export(checkAllBioticCruise)
